body { background-color:#666;
       color:#300;
       font-family:Aparajita;
	   text-align:left;
	   line-height:1.5;
	   width:70%;
	   font-size:20px;
	   margin:auto;
}
nav { padding:20px;
	background-color:#6CF;}
h1 { clear:both;}

li { display:block;
     list-style:none;
     width:200px;
     float:left;}
a { text-decoration:none;}
.active { font-weight:bold;}
.mainHeader{}
.mainContent{padding:20px;
		background-color:#D6E8E4;
		margin:auto;}